.page {
  padding: 8.5rem 4rem 15.13rem;
  background-color: #f1f1f1;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.image {
  width: 8.38rem;
  height: 7.25rem;
}
.group {
  margin-top: 2.5rem;
}
.space-y-22 > *:not(:first-child) {
  margin-top: 1.38rem;
}
.font_1 {
  font-size: 1rem;
  font-family: Inter;
  line-height: 0.94rem;
}
.text {
  color: #298bd1;
  font-weight: 700;
}
.text_2 {
  color: #298bd1;
  font-size: 1rem;
  font-family: Inter;
  line-height: 1.03rem;
}
.button {
  margin: 2.38rem 1.5rem 0 1.38rem;
}
.text-wrapper {
  padding: 0.75rem 0;
  background-color: #0094ff;
  border-radius: 0.31rem;
}
.text_3 {
  color: #ffffff;
}